.traction__brand {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
}

.traction__brand div {
    flex: 1;
    max-width: 150px;
    min-width: 120px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.traction__brand img {
    width: 100px;
    filter: grayscale(1);
    transition: all .5;
}

.traction__brand img:hover {
    width: 100px;
    filter: grayscale(0.5);
    transition: all .5;
}


@media screen and (max-width: 550px) {
    .traction__brand {
        display: none;
    }
}