.traction__brand {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.traction__brand div {
    flex: 1;
    max-width: 150px;
    min-width: 120px;
    margin: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.traction__brand img {
    width: 100px;
    filter: grayscale(1);
}

@media screen and (max-width: 550px) {
    .traction__brand {
        display: none;
    }
}