.traction__cta {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;

    padding: 2rem;
    margin: 4rem;
    border-radius: 1rem;
    background: var(--color-blue)
}

.traction__cta img {
    max-width: 250px;
}

.traction__cta-content {
    display: flex;
    flex-direction: column;

    text-align: left;
    color: #fff;
}

.traction__cta-content p {
    font-family: var(--font-family);
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}

.traction__cta-content h3 {
    font-family: var(--font-family);
    font-size: 24px;
    line-height: 45px;
    font-weight: 800;
}

.traction__cta-btn {
    margin-top: 20px;
}

.traction__cta-btn button {
    background: #fff;
    color: #478aeb;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    padding: 0.5rem 1rem;
    border-radius: 2rem;

    border: none;
    outline: none;
    cursor: pointer;
    min-width: 150px;
}

@media screen and (max-width: 650px) {
    .traction__cta {
        flex-direction: column;
    }

    .traction__cta-btn {
        margin: 0 auto;
        margin-bottom: 20px;
        margin-top: 20px;
    }
}

@media screen and (max-width: 550px) {
    .traction__cta {
        flex-direction: column;
        margin: 4rem 2rem;
    }

    .traction__cta-content h3 {
        font-size: 18px;
        line-height: 32px;
    }

    .traction__cta-btn button {
        font-size: 14px;
        line-height: 28px;
    }
}