@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #477dfc 1.84%, #4ADE80 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #477dfc -13.86%, #4ADE80 99.55%);

  --color-bg: #fff;
  --color-footer: #2563eb;
  --color-main: #4ADE80;
  --color-blue: #477dfc;
  --color-blog: #042c54;
  --color-text: #f0f7ff;
  --color-subtext: #F49867;
}