.traction__header {
    display: flex;
    flex-direction: row;
}

.traction__header-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    margin-right: 5rem;
}

.traction__header-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 52px;
    line-height: 61px;
    letter-spacing: -0.04em;
}

.traction__header-content p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: var(--color-text);

    margin-top: 1.5rem;
}

.traction__header-content h4 {
    font-family: var(--font-family);
    color: var(--color-text);
    font-weight: 400;
}

.traction__header-content__input {
    width: 100%;
    margin: 2rem 0 1rem;

    display: flex;
    flex-direction: row;
}

.traction__header-content__input input {
    flex: 2;
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    background: var(--color-footer);
    border: 2px solid var(--color-footer);
    padding: 0 1rem;
    outline: none;
    color: #fff;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.traction__header-content__people {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;

    margin-top: 2rem;
}

.traction__header-content__people img {
    width: 181.79px;
    height: 38px;
}

.traction__header-content__people p {
    margin: 0 0 0 1rem;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 38px;
    color: #fff;
    text-align: center;
}

.traction__header-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.traction__header-image img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1050px) {
    .traction__header {
        flex-direction: column;
    }

    .traction__header-content {
        margin: 0 0 3rem;
    }
}

@media screen and (max-width: 650px) {
    .center-mobile {
        margin: 0 auto;
        text-align: center;
    }

    .traction__header-content h1 {
        font-size: 48px;
        line-height: 60px;
    }

    .traction__header-content p {
        font-size: 16px;
        line-height: 24px;
    }

    .traction__header-content__people {
        flex-direction: column;
    }

    .traction__header-content__people p {
        margin: 0;
    }

    .traction__header-content__input input,
    .traction__header-content__input button {
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 490px) {
    .traction__header-content h1 {
        font-size: 36px;
        line-height: 48px;
    }

    .traction__header-content p {
        font-size: 14px;
        line-height: 24px;
    }

    .traction__header-content__input input,
    .traction__header-content__input button {
        font-size: 12px;
        line-height: 16px;
    }
}